<section class="bg-gray-800 w-64 max-h-screen m-3 rounded-xl p-2">
    <div class="mt-6">
        <ul class="flex flex-col space-y-2">
            <li>
                <a href="{% url 'blogs:blog-create' %}"
                    class="text-gray-300 hover:text-white">Create a
                    Blog</a>
            </li>
            <li>
                <a href="{% url 'users:my-blogs' %}"
                    class="text-gray-300 hover:text-white">My 
                    Blogs</a>
            </li>
            <li>
                <a href="{% url 'users:profile' %}"
                    class="text-gray-300 hover:text-white">My
                    Profile</a>
            </li>
        </ul>
    </div>
    <div class="p-6">
        <h2 class="text-white text-xl font-semibold mb-4">Tags</h2>
        <ul class="space-y-2">
            <li><a href="#" class="text-gray-300 hover:text-white">Technology</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Travel</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Food</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Fashion</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Lifestyle</a></li>
        </ul>
    </div>
</section>