<section class="bg-gray-800 w-64 min-h-screen m-3 rounded-xl">
    <div class="mt-6">
        <ul class="flex flex-col space-y-2">
            <li>
                <a href="{% url 'blogs:blog-create' %}"
                    class="text-gray-300 hover:text-white py-2 px-4 rounded-full bg-gray-700 hover:bg-gray-600">Create a
                    Blog</a>
            </li>
            <li>
                <a href="{% url 'users:my-blogs' %}"
                    class="text-gray-300 hover:text-white py-2 px-4 rounded-full bg-gray-700 hover:bg-gray-600">My 
                    Blogs</a>
            </li>
            <li>
                <a href="{% url 'users:profile' %}"
                    class="text-gray-300 hover:text-white py-2 px-4 rounded-full bg-gray-700 hover:bg-gray-600">My
                    Profile</a>
            </li>
        </ul>
    </div>
    <div class="p-6">
        <h2 class="text-white text-xl font-semibold mb-4">Tags</h2>
        <ul class="space-y-2">
            <li><a href="#" class="text-gray-300 hover:text-white">Technology</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Travel</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Food</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Fashion</a></li>
            <li><a href="#" class="text-gray-300 hover:text-white">Lifestyle</a></li>
        </ul>
    </div>
</section>